# Python cache
__pycache__/
*.py[codz]

# Virtual environments
.venv
venv/
env/

# Secrets (VERY IMPORTANT)
.env
.streamlit/secrets.toml

# Logs
*.log
.cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
